*{
    padding: 0;
    margin: 0;
}
.content{
	margin-top: 10.5%;
}

/* FontAwesome for working BootSnippet :> */
.bootstrap{
    margin-top:3.5%;
}
.heading h2{
    text-align: center;
}
.row{
    justify-content: center;
}
.team{
    border-top: 1px solid #e6e6e6;
	padding-bottom: 60px;
}
.panel-shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px 7px;
}
.team .team-member{
	margin-top: 15%;
	margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 7px 0px 7px 0px;
}
.team .team-member img{
    width: 80px;
    height: 100px;
    margin-right: 10px;
	float: left;
	border: 1px solid #f5f5f5;

}

.team .team-member .member-details{
	margin-left: 65px;
}

.team .team-member .member-details h4{
	margin: 0;
	margin-bottom: 3px;
	padding-top: 9px;
	font-size: 18px;
	font-weight: bold;
}

.team .team-member .member-details h4{
	color: #145889;
    text-decoration: none;
}

.team .team-member .member-details span{
    
	display: block;
	margin-bottom: 2px;
	font-size: 12px;
	color: #000000;
    font-weight: bold;
}			              