*{
    padding: 0;
    margin: 0;
}
.content{
	margin-top: 6.2%;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: rgb(240, 240, 240) !important;
}
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #085cbd;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#team .card {
    border: none;
    background: #ffffff;
}
.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}
.frontside .card {
    min-width: 260px;
    min-height: 260px;
}
.frontside .card .card-title {
    color: #085cbd !important;
}
.frontside .card .card-body img {
    width: 14vh;
    height: 14vh;
    border-radius: 50%;
}
.card-text{
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    section .section-title{
        font-size: 24px;
    }
    .frontside .card .card-body img{
        width: 16vh;
        height: 16vh;
    }
}